<!DOCTYPE html>
<html lang="en">
<head>
  <title>BG Library</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
</head>

<body>
    <nav>
        <p>
          <a href="/games">Games</a>
        </p>
        <p>
          <a href="/customers">Customers</a>
        </p>
        <p>
          <a href="/rentals">Rentals</a>
        </p>
    </nav>
  <%=yield%>
</body>

</html>
