<!DOCTYPE html>
<html lang="en">
<head>
    <title>BG Library</title>
    <link rel="stylesheet" type="text/css" href="../public/style.css">
</head>

<body>
  <nav>
    <ul>
      <li>
        <a href="/games">Games</a>
      </li>
      <li>
        <a href="/customers">Customers</a>
      </li>
      <li>
        <a href="/rentals">Rentals</a>
      </li>
    </ul>
  </nav>
<%=yield%>
</body>

</html>
