
body {
background-image: url('/chess-background-copy.jpg');
background-repeat: no-repeat;
background-size: cover;
}

nav {
  font-family: Fjalla One, sans-serif;
  display: flex;
  justify-content: center;
}

nav p {
  margin: 0 10px;
  color: black;
}

nav p:hover {
}

a {
  color: black;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Noto Sans, sans-serif;
  color: black;
}

.welcome {
  font-family: Fjalla One, sans-serif;
  font-size: 95px;
  color: black;
}

.heading {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-family: Fjalla One, sans-serif;
  color: black;
}

.list {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: Noto Sans, sans-serif;
  color: black;
}

.button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
