<p>Please enter the details of the game you wish to add to the catalogue:</p>

<form method='post' action='/games/create/'>
  <label for='title'>Title:</label>
  <input id='title' type='text' name='title'/>

  <label for='genre'>Genre:</label>
  <input id='genre' type='text' name='genre'/>

  <label for='theme'>Theme:</label>
  <input id='theme' type='text' name='theme'/>

  <label for='status'>Rental Status:</label>
  <select id='status' name='status'>
    <option value='Available'>Available</option>
    <option value='Rented'>Rented</option>
  </select>

<input type='submit' value='Add Game'/>
</form>
