<div class="heading">
  <h2>Game Deleted!</h2>
</div>

<div class="list">
  <p><%=@notification.title%> has been deleted.</p>
</div>

<div class="list">
  <p><a href="/games">Back to Games Catalogue</a></p>
</div>
