<div class="heading">
  <h2>Game Added!</h2>
</div>

<div class="list>"
<p><%=@game.title%> has been added to the catalogue.</p>
</div>

<div class="link>"
<p><a href="/games">Back to Games Catalogue</a></p>
</div>
