<div class="heading">
  <h2>Games Catalogue</h2>
</div>

<div class="list">
  <%for game in @games %>
    <a href="/games/<%=game.id%>"><%=game.title%></a></p>
  <%end%>
</div>

<div class="link">
  <p><a href="/games/new/">New Game</a>
</div>
