<div class="heading">
  <h2>Rental Returned!</h2>
</div>

<div class="list">
  <p><%=@game.title%> has now been returned to the library.</p>
</div>

<div class="list">
  <p><a href="/rentals">Rental History</a></p>
</div>
