<div class="heading">
  <h2>Rent Successful!</h2>
</div>

<div class="list">
<p><%=@customer.first_name%> is now renting <%=@game.title%></p>
</div>

<div class="list">
<p><a href="/rentals">Rental History</a></p>
</div>
