<div class="heading">
  <h2>Customer Added!</h2>
</div>

<div class="list">
<p><%=@customer.full_name%> has been added to the customer list.</p>
</div>

<div class="list">
  <p><a href="/customers">Back</a></p>
</div>
