<div class="heading">
  <h2>Customer Deleted!</h2>
</div>

<div class="list">
  <p><%=@notification.full_name%> has been removed from the Customer List.</p>
</div>

<div class="link">
  <p><a href="/customers">Back to Customers List</a></p>
</div>
