<div class="heading">
  <h2>Customer Updated!</h2>
</div>

<div class="list">
  <p><%=@customer.full_name%>'s details have been updated.</p>
</div>

<div class="list">
  <p><a href="/customers">Back</a></p>
</div>
